body{
    display: flex;
    text-align: center;
}
#containerinput{
    border: 1px solid black;
    text-align: center;
    width: 400px;
}
label{
    text-align: left;
}
input{
    width: 300px;
}
#containertable{
    width: 1000px;
}
table, th, td{
    border:1px solid black;
}
table{
    border-collapse:collapse;
    width: 800px;
}
.stt{
    width: 50px;
}
.employeecode{
    width: 150px;
}
.employeename{
    width: 150px;
}
.email{
    width: 250px;
}